@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@media only screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .ham-manu {
    display: none;
  }

  .nav-bar {
    height: 4.5em;

    /* position: relative; */
  }

  #portfolio-nav-x {
    display: none;
  }

  .nav-menu {
    display: flex !important;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 2vh;
  }

  .nav-links {
    display: flex !important;
    flex-direction: row;
    margin: 0.5rem -35vw -1vh 0;
  }

  .hidden {
    display: flex !important;
    flex-direction: row;
  }

  .nav-menu a {
    display: flex;
    flex-direction: row;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 0.93rem;
    font-weight: 600;
    margin: 0 0 0 0;
    padding-left: 1rem;
  }

  /* .nav-menu a img {
    display: inline;

  } */

  /* .nav-menu-item {
    margin: 0 2.62em 0 0;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 0.93rem;
    font-weight: 600;
  } */

  .logo {
    margin: 0 0 0 2.5em;
  }

  .logo-txt {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
  }

  .hero-section {
    background-image: url(res/desktop-Illustration-header.svg);
    background-position: right top 50%;
    background-size: 50vw;
  }

  .hero-main-header {
    padding: 13em 0 0 5em;
    margin-right: 1em;
  }

  .hero-main-header h1 {
    font-size: 3.5rem;
    -webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }

  .hero-sm-header {
    padding: 0.75em 0 0 5em;
    margin-right: 1em;
  }

  .hero-sm-header h3 {
    font-weight: 500;
    -webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }

  .hero-text {
    padding: 0.75em 0 0 5em;
    width: 30em;
    margin-right: 1em;
  }

  .hero-text p {
    font-weight: regular;
    -webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.61, 0.355, 1.5) both;
  }

  .social-media-sec {
    display: inline-block;
    position: relative;
    bottom: 14em;
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
  }

  .social-ico {
    padding-bottom: 1em;
  }

  .works-section {
    display: grid;
    width: 90vw;
    margin: 0 auto;
  }

  .my-recent-work {
    margin: 8rem auto 0 auto;
    display: flex;
  }

  .my-recent-work h1 {
    text-align: center;
    margin: 0 1rem 0 0;
  }

  .recent-hr {
    width: 40vw;
    margin: auto -2em 6em 0;
  }

  .works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 0.5em;
    grid-template-areas:
      "project-1 project-1 project-1"
      "project-2 project-3 project-4"
      "project-5 project-6 project-7";
  }

  .project-1 {
    grid-area: project-1;
    display: grid;
    grid-template-areas:
      "project-1-img project-1-txt"
      "project-1-img project-1-txt";
    align-items: center;
    justify-content: center;
    margin: 0 auto 0 1em;
  }

  .project-1-img {
    grid-area: project-1-img;
  }

  #project1-btn {
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
  }

  .siklls {
    padding: 0 0 4.5em 1.5em;
  }

  .p2 {
    grid-area: project-2;
    background-image: url(res/desktop-printing-bg.png);
    display: grid;
    grid-template-areas:
      'header'
      'para'
      'skill'
      'see-project';
  }

  .skills2 {
    margin: 1.5em 0 1em -0.5em;
  }

  .p2h {
    grid-area: header;
    opacity: 0;
    color: black;
  }

  .p2p {
    grid-area: para;
    opacity: 0;
    color: black;
  }

  .p2ul {
    display: none;
  }

  .p2btn {
    grid-area: see-project;
    justify-content: start;
    display: none;
  }

  .p2btn2 {
    display: block;
    float: right;
    width: 110%;
    margin: 0 0 1.5em -1.25em;
  }

  .p3 {
    grid-area: project-3;
    background-image: url(res/desktop-data-dashbord-bg.png);
  }

  .p3btn {
    display: none;
  }

  .p4btn {
    display: none;
  }

  .p5btn {
    display: none;
  }

  .p6btn {
    display: none;
  }

  .p7btn {
    display: none;
  }

  .p4 {
    grid-area: project-4;
    background-image: url(res/desktop-website-portfolio-bg.png);
  }

  .p5 {
    grid-area: project-5;
  }

  .p6 {
    grid-area: project-6;
    background-image: url(res/desktop-data-dashbord-bg.png);
  }

  .p7 {
    grid-area: project-7;
    background-image: url(res/desktop-website-portfolio-bg.png);
  }

  /* -------------------------------------------------------------------------------------------------------------------- */

  .about-myself {
    background-color: #262626;
    background-image: url(res/desktop-Frame.svg);
    background-position: right top 40%;
    background-size: 50%;
    justify-content: flex-start;
  }

  .about-myself hr {
    margin: 5em auto 0 auto;
    width: 90vw;
  }

  .aboutme {
    margin: 0 0 0 1em;
  }

  .about-h1 {
    font-size: 4.5rem;
    align-self: start;
    margin-left: 0.2em;
  }

  .about-p {
    font-size: 1.25rem;
    align-self: start;
    width: 20em;
  }

  .about-btn {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    background-color: #ff6b00;
    border: none;
    padding: 0.8em;
    width: 10em;
    margin: 0 0 13em 0.8em;
    cursor: pointer;
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
  }

  /* -------------------------------------------------------------------------------------------------------------------- */

  .my-skills {
    display: grid;
    grid-template-areas: 'skill1 skill2 skill3';
    justify-content: space-between;
    padding: 0 8em 0 8em;
    background-color: #262626;
  }

  .my-skills ul {
    text-align: left;
  }

  .my-skills h1 img {
    margin-bottom: -0.2em;
  }

  .frame-skill h1 img {
    margin-bottom: -0.1em;
  }

  .skill-skill h1 img {
    margin-bottom: -0.08em;
  }

  .lan-skill {
    grid-area: skill1;
    margin-top: 3em;
  }

  .frame-skill {
    grid-area: skill2;
    margin-top: 8em;
  }

  .skill-skill {
    grid-area: skill3;
    margin-top: 8em;
  }

  /* -------------------------------------------------------------------------------------------------------------------- */
  .contact-me-sec {
    display: grid;
    grid-template-areas:
      'text form'
      'social social';
    justify-content: center;
  }

  .contact-header-text {
    grid-area: text;
    width: 28em;
    margin-left: 5em;
  }

  .contact-header-text h3 {
    text-align: left;
    margin-left: 3em;
  }

  .contact-form {
    grid-area: form;
    width: 100%;
  }

  .contact-btn {
    width: 60%;
    margin: 0;
    padding: 1em -2em;
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
  }

  .contact-social {
    grid-area: social;
  }

  .contact-social-top-hr {
    width: 100vw;
  }

  .contact-social-bottom-hr {
    display: none;
  }
}

@media only screen and (min-width: 875px) {
  .hero-main-header {
    padding: 13em 0 0 6em;
    margin-right: 1em;
  }

  .hero-main-header h1 {
    font-size: 4rem;
  }

  .hero-sm-header {
    padding: 0.75em 0 0 6em;
    margin-right: 1em;
  }

  .hero-sm-header h3 {
    font-weight: 500;
  }

  .hero-text {
    padding: 0.75em 0 0 6em;
    width: 30em;
    margin-right: 1em;
  }

  .hero-text p {
    font-weight: regular;
  }

  .social-media-sec {
    display: inline-block;
    position: relative;
    bottom: 16em;
  }

  .social-ico {
    padding-bottom: 1em;
  }

  .p2btn2 {
    margin: 0 0 -3.35em -1.25em;
  }

  .about-p {
    width: 25em;
  }
}

@media only screen and (min-width: 1024px) {
  .p2btn2 {
    margin: 2em 0 -5em -1.25em;
  }

  .nav-links {
    margin: 0.5rem -45vw -1vh 0;
  }
}

@media only screen and (min-width: 1200px) {
  .nav-links {
    margin: 0.5rem -50vw -1vh 0;
  }

  .logo {
    margin: 0 0 0 5em;
  }

  .msg-nav-menu {
    margin-right: 6em;
  }

  .hero-main-header {
    padding: 17em 0 0 8em;
  }

  .hero-main-header h1 {
    font-size: 4.5rem;
  }

  .hero-sm-header {
    padding: 1.25em 0 0 8em;
  }

  .hero-sm-header h3 {
    font-weight: 500;
    font-size: 2em;
  }

  .hero-text {
    padding: 1.25em 0 0 8em;
    width: 40em;
  }

  .hero-text p {
    font-weight: regular;
    font-size: 1.25em;
  }

  .social-media-sec {
    display: inline-block;
    position: relative;
    bottom: 15em;
  }

  .social-ico {
    padding-bottom: 1em;
  }

  .recent-hr {
    width: 60vw;
  }

  .project-1 {
    margin: 0 auto 0 4em;
  }

  .aboutme {
    margin: 0 0 0 6em;
  }

  .about-p {
    width: 25em;
  }
}

@media only screen and (min-width: 1440px) {
  .nav-links {
    margin: 0.5rem -55vw -1vh 0;
  }

  .logo {
    margin: 0 0 0 8em;
  }

  .msg-nav-menu {
    margin-right: 9em;
  }

  .about-p {
    width: 35em;
  }

  .contact-social {
    bottom: -380vh;
  }
}
